@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Inter:wght@100..900&display=swap');

:root{
    --cor1:#734C29;
    --cor2:#B0805B;
    --cor3:#CEAA89;
    --cor4:#F9F1E5;

    --font-padrao: Inknut Antiqua, cursive, serif;
    --font-especial: Inter, sans-serif;
}
*{
    padding: 0px;
    margin: 0px;
    border: none;
    font-family: var(--font-padrao);
    font-weight: 600;

}

.disabled{
    display: none !important;
}

.papel{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 800px;
    height: 95%;
    border: 1px solid #734C29;
    border-radius: 25px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
    padding: 25px 35px;
}
.cabecalho_form{
    display: flex;
    align-items: center;
    height: 5%;
    width: 100%;
}
.cabecalho_form h1{
    display: flex;
    align-items: center;
    font-size: 0.8em;
    color: #734C29;
    margin-left: 40px;
}
.btn_editar{
    background-color: #F9F1E5;
    color: #734C29;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: end;
    width: 30px;
    margin: 0px 10px;
    cursor: pointer;
}
.btn_editar:hover{
    text-shadow: 0.5px 0.5px 2px rgba(0, 0, 0, 0.4);

}
.btn_fechar{
    background-color: #F9F1E5;
    color: #734C29;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: end;
    width: 30px;
    margin: 0px 5px;
    cursor: pointer;
}
.btn_fechar:hover{
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.form{
    display: flex;
    height: 75%;
    flex-wrap: wrap;
}
.form > div { 
    display: flex;
    align-items: baseline;
    justify-content: end;
    flex-direction: column;
    height: 55px;
    margin: 8px 30px;
}
.form label{
    display: flex;
    font-size: 0.75em;
    color: #734C29;
    text-indent: 15px;
}
.err{
    font-size: 0.5em;
    font-weight: 300;
    color: rgb(255, 68, 68);
    text-indent: 15px;
}
.form input{
    height: 25px;
    width: 100%;
    background-color: #F9F1E5;
    color: #734C29;
    border: 1px solid #734C29;
    border-radius: 20px;
    font-size: 0.9em;
    padding: 4px 4px;
    text-indent: 10px;
    font-weight: 300;
    font-family: var(--font-especial);
}
.form textarea{
    background-color: #F9F1E5;
    color: #734C29;
    border: 1px solid #734C29;
    border-radius: 20px;
    font-size: 0.9em;
    padding: 4px 4px;
    text-indent: 10px;
    font-weight: 300;
    font-family: var(--font-especial); 
    resize: none;

}
.btn_OkForm{
    background-color: #734C29;
    color: white;
    padding: 2px 15px;
    border-radius: 20px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}
.btn_OkForm:hover{
    box-shadow: 0px 0px 3px white;
}



/* CADASTRO DE LIVRO! */

#cabecalho_cl h1{
    width: 180px;
    margin-left: 39%;
    margin-right: 28%;
}

#div_titulo_cl{
    width: 88%;
}
#div_autor_cl{
    width: 88%;
}
#div_edicao_cl{
    width: 40%;
}
#div_editora_cl{
    width: 40%;
}
#div_genero_cl{
    width: 40%;
}
#div_quantidade_cl{
    width: 40%;
}
#div_CodId_cl{
    width: 40%;
}
#div_CodLoc_cl{
    width: 40%;
}

#div_capa_cl{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: flex-start;
    width: 50%;
    margin: 0px 20px;

}
#l_capa_cl{
    cursor: pointer;
}

input[type='file'] {
    display: none
}
#file_name_cl{
    display: flex;
    background-color: #734C29;
    color: white;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
    width: 70px;
    height: 25px;
    text-indent: 6px;
    overflow: hidden;
    text-overflow: clip;
    font-size: 0.9em;
    margin-left: 10px;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 0.7em;
    cursor: pointer;
    transition: 0.1s;
}
#file_name_cl:hover{
    box-shadow: 0px 0px 4px white;
}
#err_capa_cl{
    display: flex;

}

/* REMOCAO DE LIVRO */

#cabecalho_rl h1{
    width: 300px;
    margin-left: 34%;
    margin-right: 23%;
}
#div_titulo_rl{
    width: 98%;
}
#div_CodId_rl{
    width: 98%;
    
}
#div_motivo_rl{
    margin-top: 0px;
    width: 98%;
    height: 200px
    
}

/* ALUGUEL DE LIVRO */
#cabecalho_al h1{
    width: 400px;
    margin-left: 28%;
    margin-right: 17%;
}

#div_CodId_al{
    width: 40%;

}
#div_titulo_al{
    width: 88%;
}
#div_NomeC_al{
    width: 88%;
}
#div_cpfC_al{
    width: 40%;
}
#div_cpfF_al{
    width: 40%;
}
#div_DataLoc_al{
    width: 40%;
    
}
#div_DataDev_al{
    width: 40%;
    
}
#i_DataLoc_al{
    background-color: #734C29;
    color: white;

}
#i_DataDev_al{
    background-color: #734C29;
    color: white;
}
#btns_al{
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* DEVOLUCAO DE LIVRO */

#cabecalho_dl h1{
    width: 320px;
    margin-left: 30%;
    margin-right: 25%;
}

#div_CodId_dl{
    width: 40%;
}
#div_cpfC_dl{
    width: 40%;
}
#div_NomeC_dl{
    width: 88%;
}
#div_titulo_dl{
    width: 88%;
}
#div_DataLoc_dl{
    width: 40%;
}
#div_DataDev_dl{
    width: 40%;
}
#i_DataLoc_dl{
    background-color: #734C29;
    color: white;

}
#i_DataDev_dl{
    background-color: #734C29;
    color: white;
}

/* CADASTRO DE CLIENTE */
#cabecalho_cc h1{
    width: 190px;
    margin-left: 39%;
    margin-right: 26%;
}
#div_nome_cc{
    width: 88%;
}
#div_cpf_cc{
    width: 40%;
}
#div_DataNasc_cc{
    width: 40%;
}
#i_DataNasc_cc{
    padding: 12px 5px;
}
#div_email_cc{
    width: 40%;
}
#div_celular_cc{
    width: 40%;
}
#div_endereco_cc{
    width: 88%;
}
#i_MenorIdade_cc{
    width: 80px;
}

/* REMOCAO DE CLIENTE */

#cabecalho_rc h1{
    width: 320px;
    margin-left: 30%;
    margin-right: 25%;
}
#div_nome_rc{
    width: 88%;
}
#div_cpf_rc{
    width: 88%;
}
#div_motivo_rc{
    margin-top: 0px;
    width: 88%;
    height: 200px
}

/* CADASTRO DE FUNCIONARIO */
#cabecalho_cf h1{
    width: 230px;
    margin-left: 36%;
    margin-right: 24%;
}
#div_nome_cf{
    width: 88%;
}
#div_cpf_cf{
    width: 40%;
}
#div_DataNasc_cf{
    width: 40%;
}
#i_DataNasc_cf{
    padding: 12px 5px;
}
#div_email_cf{
    width: 40%;
}
#div_celular_cf{
    width: 40%;
}
#div_endereco_cf{
    width: 88%;
}
#div_senha_cf{
    width: 40%;
}
#div_ConfirmaSenha_cf{
    width: 40%;
}

/* REAMOCAO DE FUNCIONARIO */

#cabecalho_rf h1{
    width: 360px;
    margin-left: 28%;
    margin-right: 22%;
}
#div_nome_rf{
    width: 88%;
}
#div_cpf_rf{
    width: 88%;
}
#div_motivo_rf{
    margin-top: 0px;
    width: 88%;
    height: 200px
}