@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Inter:wght@100..900&display=swap');

:root{
    --cor1:#734C29;
    --cor2:#B0805B;
    --cor3:#CEAA89;
    --cor4:#F9F1E5;

    --font-padrao: Inknut Antiqua, cursive, serif;
    --font-especial: Inter, sans-serif;
}
*{
    padding: 0px;
    margin: 0px;
    border: none;
    font-family: var(--font-padrao);
    font-weight: 600;

}
@keyframes modal-pop{
    from{
        transform: scale(0.8);
    }
    to{
        transform: scale(1);
    }
}

.disabled{
    display: none !important;
}

.papel{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 800px;
    height: 480px;
    z-index: 2;
    border: 1px solid #734C29;
    background-color: #F9F1E5;
    border-radius: 25px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
    padding: 25px 35px;
    animation-name: modal-pop;
    animation-duration: 0.15s;
}
.cabecalho_form, .cabecalho_form_especial{
    display: flex;
    align-items: center;
    height: 5%;
    width: 100%;

}
.cabecalho_form h1, .cabecalho_form_especial h1{
    display: flex;
    align-items: center;
    font-size: 0.8em;
    color: #734C29;
    margin-left: 40px;
}
.btn_editar{
    background-color: #F9F1E5;
    color: #734C29;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    margin: 0px 10px;
    cursor: pointer;
}
.btn_editar:hover{
    text-shadow: 0.5px 0.5px 2px rgba(0, 0, 0, 0.4);

}
.desligado{
    color: #CEAA89 !important;
}
.btn_fechar{
    background-color: #F9F1E5;
    color: #734C29;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    margin: 0px 5px;
    cursor: pointer;
}
.btn_fechar:hover{
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.err_geral_form {
    color: rgb(255, 68, 68);
    font-size: 0.5em;
    height: 14px;
    display: flex;
}

.form, .form_especial{
    display: flex;
    height: 80%;
    flex-wrap: wrap;
}
.form > div, .form_especial > div { 
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    flex-direction: column;
    height: 55px;
    margin: 8px 30px !important;
}
.form label, .form_especial label{
    display: flex;
    font-size: 0.75em;
    color: #734C29;
    text-indent: 15px;
}
.err{
    display: flex;
    font-size: 0.5em;
    font-weight: 300;
    color: rgb(255, 68, 68);
    text-indent: 15px;
}
.form input, .form_especial input{
    height: 25px;
    width: 100%;
    background-color: #F9F1E5;
    color: #734C29;
    border: 1px solid #734C29;
    border-radius: 20px;
    font-size: 0.9em;
    padding: 4px 4px;
    text-indent: 10px;
    font-weight: 300;
    font-family: var(--font-especial);
}
input[type="date"]{
    padding: 12px 4px;
} 
.form input:focus, .form_especial input:focus{
    outline: 1px solid #734C29;
}

.form textarea{
    background-color: #F9F1E5;
    color: #734C29;
    border: 1px solid #734C29;
    border-radius: 20px;
    font-size: 0.9em;
    padding: 4px 4px;
    text-indent: 10px;
    font-weight: 300;
    font-family: var(--font-especial); 
    resize: none;
}
.textareaa{
    height: 200px !important;
}
.btn_OkForm{
    background-color: #734C29;
    color: white;
    padding: 2px 20px;
    border-radius: 20px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
    display: flex;
    margin-top: 30px;
    margin-bottom: 10px;
    cursor: pointer;
}

.btn_OkForm:hover{
    box-shadow: 0px 0px 3px white;
}

.grande{
    width: 88%;
}
.pequeno{
    width: 40%;
}



/* CADASTRO DE LIVRO! */
#cabecalho_cl h1{
    width: 180px;
    margin-left: 39%;
    margin-right: 28%;
}
/* #div_capa_cl{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin: 15px 20px 0px 20px !important;
    flex-direction: row;
    align-items: baseline;
}
#l_capa_cl{
    cursor: pointer;
}
input[type='file'] {
    display: none
}
#file_name_cl{
    display: flex;
    background-color: #734C29;
    color: white;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
    width: 70px;
    height: 25px;
    text-indent: 6px;
    overflow: hidden;
    text-overflow: clip;
    font-size: 0.9em;
    margin-left: 10px;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 0.7em;
    cursor: pointer;
    transition: 0.1s;
}
#file_name_cl:hover{
    box-shadow: 0px 0px 4px white;
} */
#btn_salvar_cl{
    margin: 20px 0px 0px 0px !important;
}
/* REMOCAO DE LIVRO */
#cabecalho_rl h1{
    width: 300px;
    margin-left: 34%;
    margin-right: 23%;
}
/* ALUGUEL DE LIVRO */
#cabecalho_al h1{
    width: 400px;
    margin-left: 28%;
    margin-right: 17%;
}
#i_DataLoc_al{
    background-color: #734C29;
    color: white;
}
#i_DataDev_al{
    background-color: #734C29;
    color: white;
}
#btns_al{
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
/* DEVOLUCAO DE LIVRO */
#cabecalho_dl h1{
    width: 320px;
    margin-left: 30%;
    margin-right: 25%;
}
#form_dl{
    padding: 25px 0px;
}
/* CADASTRO DE CLIENTE */
#cabecalho_cc h1{
    width: 190px;
    margin-left: 39%;
    margin-right: 26%;
}
#i_MenorIdade_cc{
    width: 80px;
    outline: none;
}
#i_MenorIdade_cc:focus{
    outline: none;
}
/* REMOCAO DE CLIENTE */
#cabecalho_rc h1{
    width: 320px;
    margin-left: 30%;
    margin-right: 25%;
}
/* CADASTRO DE FUNCIONARIO */
#cabecalho_cf h1{
    width: 230px;
    margin-left: 36%;
    margin-right: 24%;
}
/* REAMOCAO DE FUNCIONARIO */

#cabecalho_rf h1{
    width: 360px;
    margin-left: 28%;
    margin-right: 22%;
}





/* FORMULARIOS ESPECIAIS */
#papel_cc{
    position: relative;
}

.papel_especial{
    display: flex;
    position: relative;
    z-index: 3 !important;
    top: -485px;
    left: 107px;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 400px;
    width: 600px;
    background-color: #F9F1E5;
    border: 1px solid #734C29;
    border-radius: 25px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
    padding: 25px 35px;
}

#cabecalho_ccm{
    display: flex;
    align-items: center;
    justify-content: center;
}
#cabecalho_ccm h1{
    margin: auto;
}

#form_ccm{
    padding: 15px 0px;
}
#cabecalho_ccm{
    margin-bottom: 10px;
}

