@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Inter:wght@100..900&display=swap');

:root{
    --cor1:#734C29;
    --cor2:#B0805B;
    --cor3:#CEAA89;
    --cor4:#F9F1E5;

    --font-padrao: Inknut Antiqua, cursive, serif;
    --font-especial: Inter, sans-serif;

}
*{
    padding: 0px;
    margin: 0px;
    border: none;
    font-family: var(--font-padrao);
    font-weight: 600;

}
html body {
    height: 100vh;
    background-color: #F9F1E5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quad_login{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 3px solid #734C29;
    border-radius: 20px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.400);
    height: 97%;
    width: 40%;
}

h1{
    font-size: 2.7em;
    color: #734C29;
    margin-bottom: 42px;
    margin-top: 20px;
}

.form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 70%;
    width: 100%;
}

#l_email{
    color: #734C29;
    font-size: 0.95em;
    margin-top: 35px;
    margin-bottom: 13px;

}
#email{
    background-color: #F9F1E5;
    font-family: var(--font-especial);
    font-weight: 100;
    border: 1px solid #734C29;
    border-radius: 30px;
    height: 5%;
    padding: 5px;
    text-indent: 20px;
    width: 80%;
}


#l_senha{
    color: #734C29;
    font-size: 0.95em;
    margin-top: 35px;
    margin-bottom: 13px;

}
#senha{
    background-color: #F9F1E5;
    font-family: var(--font-especial);
    font-weight: 100;
    border: 1px solid #734C29;
    border-radius: 30px;
    height: 5%;
    padding: 5px;
    
    text-indent: 20px;
    width: 60%;

}
#esqueci{
    display: flex;
    font-size: 0.7em;
    background-color: #F9F1E5;
    color: #734C29;
    margin: 13px;


}
#enviar{
    display: flex;
    margin: auto;
    width: 23%;
    height: 9%;
    justify-content: center;
    align-items: center;
    background-color: #734C29;
    border-radius: 17px;
    color: #F9F1E5;
    margin-top: 90px;
    margin-bottom: 30px;
    font-size: 1em;


}

