@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Inter:wght@100..900&display=swap');

:root{
    --cor1:#734C29;
    --cor2:#B0805B;
    --cor3:#CEAA89;
    --cor4:#F9F1E5;

    --font-padrao: Inknut Antiqua, cursive, serif;
    --font-especial: Inter, sans-serif;

}
*{
    padding: 0px;
    margin: 0px;
    border: none;
    font-family: var(--font-padrao);
    font-weight: 600;

}
html body {
    height: 100vh;
    background-color: #F9F1E5;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.quad_login{
    display: flex;
    align-items: center;

    flex-direction: column;
    border: 3px solid #734C29;
    border-radius: 20px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.400);
    height: 674px;
    width: 614px;
}

#quad_login > h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.7em;
    color: #734C29;
    margin-top: 30px;
    margin-bottom: 10px;
    
}
#err_login{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 100%;
    color: rgb(255, 68, 68);
}

.form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.form_div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    margin: 10px;
}
.labels{
    color: #734C29;
    font-size: 0.95em;
    margin-top: 25px;
    height: 27px;
}
#l_email{
    margin-top: 20px;
}
.erro{
    display: flex;
    align-items: center;
    height: 15px;
    font-size: 0.55em;
    margin-bottom: 5px;
    color: rgb(255, 68, 68);
}
#err_email{
    width: 80%;
}
#err_senha{
    margin-left: 140px;
    width: 90%;

}
.inputs{
    background-color: #F9F1E5;
    font-family: var(--font-especial);
    font-weight: 300;
    border: 1px solid #734C29;
    border-radius: 30px;
    height: 5%;
    padding: 5px;
    text-indent: 20px;
    width: 85%;
    height: 22px;
}
input:focus{
    outline: 1px solid #734C29;
}
#senha{
    width: 70%;
}
.btns{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;

}
#esqueci{
    display: flex;
    font-size: 0.7em;
    background-color: #F9F1E5;
    color: #734C29;
    cursor: pointer;
    transition: 0.3s;
}
#esqueci:hover{
    text-decoration: underline;
}
#entrar{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 24%;
    background-color: #734C29;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    border-radius: 17px;
    color: #F9F1E5;
    font-size: 1em;
    cursor: pointer;
    margin-top: 90px;
    transition: 0.4s;
    
    
}
#entrar:hover{
    box-shadow: 0px 0px 6px white;
    
}



#popup{
    display: flex;
    position: absolute;
    top: 0px;
    left: 0px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}
#folha{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #F9F1E5;
    border: 2px solid #734C29;
    border-radius: 20px;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.409);
    padding: 20px;
    width: 920px;
    height: 312px;
}

#btn_sair{
    display: flex;
    background-color: #F9F1E5;
    color: #734C29;
    align-items: center;
    cursor: pointer;
    justify-content: end;
    margin-top: 10px;
    margin-left: 90%;
    font-size: 1.2em;
    font-family: var(--font-especial);
    transition: 0.3s;

}
#btn_sair:hover{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
#folha p {
    display: flex;
    font-family: var(--font-especial);
    align-items: center;
    justify-content: center;
    width: 90%;
    margin-bottom: 30px;
    margin-top: 20px;
    font-weight: 300;
    font-size: 1.2em;
    color: #734C29;

}

#inputs{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;
}
#esqueci_l_email{
    color: #734C29;
    font-size: 0.85em;
    margin: 10px;
}
#i_esqueci_email{
    width: 57%;
    background-color: #F9F1E5;
    border: 1px solid #734C29;
    border-radius: 20px;
    height: 35px;
    font-family: var(--font-especial);
    font-size: 0.95em;
    font-weight: 300;
    text-indent: 20px;
}
#err_esqueci_email{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 68, 68);
    font-size: 0.6em;
}



#btn_enviar{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #734C29;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.39);
    color: white;
    border-radius: 15px;
    height: 40px;
    width: 120px;
    margin-bottom: 30px;
    margin-top: 30px;
    cursor: pointer;
    transition: 0.4s;
}
#btn_enviar:hover{
    box-shadow: 0px 0px 7px white;
}


.pilhas >img{
    width: 250px;
    align-self: flex-end;
}
.pilhas{
    align-self: flex-end;
}
#livros_direita >img{
    transform: scaleX(-1);

}